ENVIRONMENT=dev
ADMIN_EMAIL=admin@uberox.local
ADMIN_PASSWORD_HASH=
SECRET_KEY=
WEBHOOK_HMAC_SECRET=
OKX_OAUTH_CLIENT_ID=
OKX_OAUTH_CLIENT_SECRET=
OKX_OAUTH_REDIRECT_URI=https://VOTRE_DOMAINE/api/okx/oauth/callback
OKX_DEMO=True
